/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
html {
  min-height: 100%;
  position: relative;
}

body {
  margin-top: 70px;
    height: 100%;
    padding-bottom: 30px;
}


footer p{
  text-align: center;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0%;
  text-align: center;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

td{
  width: 50px;
}

.head{
  color: #fff; background-color: #fff
}
