{% extends "lab_8/layout/base.html" %}
{% block content %}
<div class="container">
    <button id='login-button'  style="color: white" onclick="facebookLogin()">Login with Facebook</button>
    <div id="lab-8-profile"  style="color: white"></div>
    <div id="lab-8-post-input"  style="color: white"></div>
    <div id="lab-8-feed"  style="color: white"></div>
</div>
{% endblock %}
