<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a class="nav-link" href="/lab-2/">[Home]</a>
        <li><a class="nav-link" href="/lab-2-addon/">[About]</a>
        <li><a class="nav-link" href="/lab-3/">[Diary]</a>
        <li><a class="nav-link" href="{% url 'lab-4:index' %}#form">[Form]</a></li>
        <li><a class="nav-link" href="{% url 'lab-4:result_table' %}">[Messages Table]</a> </li>
        <li><a class="nav-link" href="{% url 'lab-5:index' %}#input-list">[Input Todo]</a></li>
        <li><a class="nav-link" href="{% url 'lab-5:index' %}#my-list">[My List]</a> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>