body{
   margin-top: 0px;
   background-color: #c0deed    ;
   color:#000;
}
/* Custom navbar style */
.navbar-static-top{
   margin-bottom: 19px;
}
.navbar-fixed-top {
   background-color: #c0deed;
   color: #fff;
}

.navbar-default .navbar-nav>li>a{
   cursor: pointer;
}
h1, h2, h3{
    color: #000;
}

h1 {
    font-size:28px;
    
}
h2{
    font-size:21px;
    
}
h3{
    font-size:19px;
    
}

.prof-pic-container>h1,h2,h3,.h1,.h2,.h3{
    margin:auto;
    margin-bottom: 8px;
}

#postInput {
    background-color: #fff;
    margin: auto;
    width: 100%;
    height: 50px;
    padding: 17px;
    border: 2px solid #28394A;
    border-radius: 8px;
    margin: 4px;
    color: #1dcaff;
}

.feed-author h2 {
    font-size:16px;
}

.feed {
    background-color: #fff;
    outline-width:4px;
    height: 100%;
    margin-bottom: 0px;
    padding: 12px 22px;
    border: 1px solid #939b9e;
}

.postStatus, .logout, .login, #login-button {
    background-color: #3b5998;
    border: 2px solid #384F65;
    outline-width: 3px;
    border-radius: 9px;
    padding: 4px 9px;
    margin: 5px;
    color: #1dcaff;
}

.feed-author-profpic {
    width:40px;
    border-radius:100%;
}

.feed-author h2 {
    position: relative;
    top: -29px;
    right: -52px;
    position: relative;
}

.feed-author-name {
    font-weight: bold;
}

.feed{
    word-wrap: break-word;
}
.cover{
    width: 100%;
    height: 100%;
}
.crop-home-pic{
    max-height: 200px;
    overflow: hidden;
    width: 99.4vw;
    margin-left: calc(-50vw + 50%);
}
#line-cover{
    background-color: #fff;
    height:     4px;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.3);
    width: 99.4vw;
    margin-left: calc(-50vw + 50%)
}
/*
.cover{
    margin:-25% 0 -25% 0;
    width:100%;
    min-width:600px;
    min-height:100%;
    position:relative;
    bottom:0px;
}

.crop-home-pic{
    height: 300px;
    overflow: hidden;
}*/


#line-picture-name{
    text-align: left;
    margin-top: -40px;
}

.line-cover{
    text-align:center;
}

#line-picture-name .h1{
}

.prof-pic-container{
    border-radius:100%;
    position:relative;
    width: 140px;
    height: 140px;
    top: -70px;
    margin-left: 30px;
    background-color: #fff;
    /*margin: auto;*/
    text-align:center;
    /*box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.5);*/
    margin-bottom:-80px;
}

.content{
    color: #000;
}

.prof-pic{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius:100%;
    width:95%;
    margin:auto;

}*/

