{% extends "lab_4/layout/base.html" %}
    
    {% block content %}
    <body style="background-image: url(https://i.imgur.com/dz2rdcz.jpg); background-size:cover;height: 100%;width: 100%;">
    <h1>Portofolio</h1>
    <center>
    {% load static %}
    <img class = "img-circle" img src= "/static/sarasa-niku.jpg" width="240px" />
    </center>
    <hr/>
    <section name="bio" style="border:1px solid black; background-color: rgba(255,255,255,0.6);">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>	
    </section>
    <hr/>
    <section name="about_me" style="border:1px solid black;background-color: rgba(255,255,255,0.6);">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form" style="border:1px solid black;background-color: rgba(255,255,255,0.6);">
            <h2>Send Message</h2>
            <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
                {% csrf_token %}
                {{ message_form }}
                <br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </section>
    {% endblock %}