{% extends "base.html" %}
{% block content %}
<style>
    .status{
        font-size: 20px;
        font-family: "Comic Sans MS";
        color: #000000;
        text-align: justify;
        text-justify: inter-word;
    }
    .name{
        font-size: 20px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #ffffff;
    }
    .center_screen {
        position: absolute;
        width: 500px;
        height: 100px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        background-color: rgba(255,255,255,0.6);
        border: 1px solid black;
    }

</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}
