{% extends "lab_7/layout/base.html" %}

{% block content %}
<h3 style="text-align: center;">Profile {{friend.friend_name}}</h3>
<br>
<table style="width:100%">
  <tr>
    <td><b>Nama</b></td>
    <td>{{friend.friend_name}}</td>
  </tr>
  <tr>
    <td><b>NPM</b></td>
    <td>{{friend.npm}}</td>
  </tr>
  <tr>
</table>
{% endblock %}
